doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="css/style.css")
        title Brik.com
    body 
        
        header.header_main
            .top_panel
                a(href="#").top_panel__logo Brik
                nav.top_panel__nav
                    ul.top_panel__list
                        li.top_panel__li
                            a(href="#") Products
                        li.top_panel__li
                            a(href="#") Inspiration
                        li.top_panel__li
                            a(href="#") Search
                .top_panel__butt_card
                    button.top_panel__butt Join Brik Pro
                    a.top_panel__card(href="#")
                        img(src="./img/Vector.png", alt="Icon card")
            
            .header_slad
                .header_slad__img
                    a.header_slad__link(href="#") Shop Now
                .header_slad__arr
                    a.header_slad__link_left(href="#")
                        img(src="./img/left.png", alt="Icon arr")
                    span.header_slad__span Garther with Brik
                    a.header_slad__link_right(href="#")
                        img(src="./img/right.png", alt="Icon arr")