@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  width: 1366px;
  margin: 0 auto;
  padding: 0 35px;
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.header_main {
  margin-bottom: 100px;
}

.top_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
.top_panel__logo {
  font-size: 48px;
  font-weight: 600;
}
.top_panel__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.top_panel__li a:hover {
  text-decoration: underline;
}
.top_panel__butt_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.top_panel__butt {
  background: #F9F9F9;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.header_slad {
  margin-top: 40px;
}
.header_slad__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/img_header.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 650px;
}
.header_slad__link {
  font-size: 44px;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.header_slad__arr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_slad__span {
  font-size: 90px;
  color: #376B8C;
}

.block_dress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-bottom: 100px;
}
.block_dress__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.block_dress__a {
  font-size: 55px;
  color: #918F8F;
}
.block_dress__a:hover {
  color: #000;
  border-bottom: 5px solid #000;
}
.block_dress__a_act {
  color: #000;
  border-bottom: 5px solid #000;
}
.block_dress__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.block_dress__img {
  width: 100%;
  height: 545px;
}
.block_dress__link {
  margin-left: 5px;
  border-bottom: 2px solid #000;
}

.block_quality {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}
.block_quality__h2 {
  font-size: 90px;
}
.block_quality__img {
  background: url("../img/photo1.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 635px;
}

.block_collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-bottom: 100px;
}
.block_collection__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block_collection__h3 {
  font-size: 55px;
}
.block_collection__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.block_collection__icon {
  width: 25px;
  height: 25px;
}
.block_collection__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.block_collection__img {
  width: 100%;
  height: 520px;
}
.block_collection__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block_collection__text {
  font-weight: bold;
}
.block_collection__chapter {
  color: #918F8F;
}

.block_members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item1 item2" "item3 item3" "item4 item5";
  gap: 10px;
}
.block_members__itme1 {
  grid-area: item1;
  background: url("../img/photo2.png") no-repeat center;
  width: 100%;
  height: 635px;
}
.block_members__itme2 {
  grid-area: item2;
  background: url("../img/photo3.png") no-repeat center;
  width: 100%;
  height: 635px;
}
.block_members__itme3 {
  grid-area: item3;
  margin: 100px 0;
  background-color: #FEF6EA;
}
.block_members__itme4 {
  grid-area: item4;
  background: url("../img/photo4.png") no-repeat center;
  width: 100%;
  height: 635px;
}
.block_members__itme5 {
  grid-area: item5;
  background: url("../img/photo5.png") no-repeat center;
  width: 100%;
  height: 635px;
}
.block_members__cont1 {
  height: 100%;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.block_members__cont2 {
  height: 100%;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.block_members__h3 {
  font-size: 44px;
}
.block_members__p {
  font-size: 18px;
}
.block_members__a {
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-left: 5px;
}
.block_members__link {
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-left: 5px;
}